@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

body {
    background: #053206;
    background-image: radial-gradient(ellipse, #05321e 0%, #050505 90%);
    font-family: "VT323", monospace;
    font-size: 6rm;
      justify-content: center;
  align-items: center;
	}
	
	
.shadow {
	box-shadow:black 0px 9px 40px;
    position: relative;
	}


.scanlines {
  overflow: hidden;
}

.scanlines::before {
  content: "";
  position: absolute;
  width:  200%;
  height: 200%;
  top:   -100%;
  left:     0;

  background: repeating-linear-gradient(to bottom,
    transparent 0%,
    rgba( 20, 164, 0 ,0.08) 0.8%,
    transparent 1%);

  animation-name: fudge;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  // animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.scan-line::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 100px;
  right: 0;
  z-index: 8;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%);
  opacity: 0.12;
  bottom: 100%;
  pointer-events: none;
  animation: scan-line 8s linear infinite;
}

@keyframes scan-line {
  0%    { bottom: 100%; }
  80%   { bottom: 100%; }
  100%  { bottom: -20%; }
}


@keyframes fudge {
  from { transform: translate(0px, 0px);  }
  to   { transform: translate(0px, 4%); }
}

h1,
h2 {
  margin: 0;
}

a {
  color: #eee;
}

section {
  padding: 20px;
}

.hero {
  font-size: clamp(40px, 10vw, 90px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 7px;

  filter: drop-shadow(0 1px 1.5px);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}



@keyframes paths {
  0% {
    clip-path: polygon(
      0% 23%,
      83% 23%,
      83% 12%,
      23% 12%,
      23% 14%,
      91% 14%,
      76% 32%,
      23% 32%,
      23% 15%,
      19% 25%,
      19% 8%,
      36% 8%,
      36% 21%,
      73% 21%,
      73% 16%,
      1% 16%,
      1% 26%,
      50% 36%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.opacity {
  animation: opacity 8s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}



@keyframes font {
  0% {
    font-weight: 100;
    color: #28e03c;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #28e03c;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 8s step-end infinite;
}

.glitch::before {
  animation: paths 8s step-end infinite, opacity 8s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 8s step-end infinite, opacity 8s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
